version: "3"
services:
  nginx:
    image: nginx:alpine
    environment:
      NGINX_ENVSUBST_TEMPLATE_SUFFIX: ".conf"
      DOMAIN: ${DOMAIN}
    ports: 
      - 80:80
      - 443:443
    networks:
      - internal
    volumes:
      - ./nginx/templates:/etc/nginx/templates/
      - ./data/:/var/www/html/
      - ./logs/nginx:/var/log/nginx/
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
  php:
    image: php:fpm-alpine
    environment:
      API_KEY: ${API_KEY}
    build:
      context: .
      dockerfile: php/Dockerfile
    networks:
      - internal
    volumes:
      - ./data/:/var/www/html/
      - ./logs/php.log:/var/log/fpm-php.www.log
networks:
  internal:
    driver: bridge