body,
html {
	border: 0px !important;
}

div {
	border: none;
}

body {
	background: #f5f5f7;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #2c3e50;
	text-align: center;
}

a,
a:visited {
	color: #0d6efd;
	text-decoration: none;
}

a:hover {
	color: #0a58ca;
	text-decoration: underline;
}

hr {
	border: 1px solid #ecf0f1;
}

.header {
	background: #7e57c2;
	padding-left: 15px;
	padding-right: 5px;
	text-align: left;
	box-sizing: border-box;
	height: 44px;
	border-bottom: 2px solid #d6d6d6;
}

.header h1 {
	color: #FFFFFF;
	font-size: 19px;
	line-height: 2;
	line-height: 44px;
	margin: 0;
	font-weight: normal;
}

.container {
	max-width: 800px;
	padding: 16px;
	display: inline-block;
	margin: 0 auto;
}

.panel {
	background: #ffffff;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border: 2px solid #d6d6d6;
	margin-bottom: 15px;
}

.footer {
	padding-top: 0;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	color: #8b8b8b;
}

@supports (box-shadow: 2px 4px 12px #00000014) {

	.panel,
	.header {
		border: 0;
		box-shadow: 2px 4px 12px #00000014;
	}
}

.panel .panel-title {
	text-align: left;
	color: #6e6e73;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px;
	margin: 0;
	font-weight: normal;
}

.panel .body {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

input {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.shortcode-container {
	background: #f5f5f7;
	padding: 5px;
	border-radius: 7px;
	text-align: center;
}

.shortcode-container a {
	font-family: monospace, monospace;
	color: #2c3e50;
}

/* QR code styles for ancient web browsers */
.qr-img {
	border: none;
	/* Exactly 1/2 of the native 350px size for best rendering */
	width: 175px;
	height: 175px;
}

/* QR code styles for newer browsers that support viewport units */
@supports (max-height: 60vh) {
	.qr-img {
		width: 100%;
		height: auto;
		max-width: 350px;
		max-height: 60vh;
		object-fit: scale-down;
	}
}

/* Large screens */
@media screen and (min-width: 835px) {

	.container {
		padding-top: 35px;
	}

	.panel {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-right: 10px;
		width: 360px;
	}

}

/* Very small screens (like Nintendo 3DS Browser) */
@media screen and (max-width: 350px) {

	body {
		background: #FFF;
	}

	.container {
		padding: 0;
	}

	.header {
		display: none;
	}

	.panel {
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border: 0;
		box-shadow: none;
		margin: 0;
	}

	.panel .panel-title {
		background: #7e57c2;
		color: #FFFFFF;
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 2px solid #d6d6d6;
	}

}