/* Main CSS styles for desktop layouts, modern mobile browsers, and dark mode */

body,
html {
	border: 0px !important;
}

div {
	border: none;
}

body {
	background: #f5f5f7;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow-wrap: break-word;
	color: #2c3e50;
}

body,
input {
	font-size: 15px;
}

a,
a:visited {
	color: #0d6efd;
	text-decoration: none;
	word-wrap: wrap-word;
	word-break: break-all;
	display: inline-block;
}

a:hover {
	color: #0a58ca;
	text-decoration: underline;
}

hr {
	border: 1px solid;
	border-color: #ecf0f1;
}

.container {
	max-width: 800px;
	padding: 16px;
	display: inline-block;
	margin: 0 auto;
}

.panel {
	background: #ffffff;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border: 2px solid #d6d6d6;
	margin-bottom: 15px;
}

.footer {
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 12px;
	color: #8b8b8b;
}

@supports (box-shadow: 2px 4px 12px #00000014) {

	.panel {
		border: 0;
		box-shadow: 2px 4px 12px #00000014;
	}

}

.panel .panel-title {
	text-align: left;
	color: #6e6e73;
	font-size: 13px;
	text-transform: uppercase;
	padding: 15px;
	margin: 0;
	font-weight: normal;
}

.panel .body {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#imagshare-upload-btn,
#imageshare-file-select {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.imageshare-service-radio {
	display: inline-block;
	text-align: left;
}

.shortcode-container {
	background: #f5f5f7;
	padding: 5px;
	border-radius: 7px;
	text-align: center;
}

.shortcode-container a {
	font-family: Consolas, Menlo, "courier new", monospace !important;
	color: #2c3e50;
}

/* QR code styles for ancient web browsers */
.qr-img {
	border: none;
	/* Exactly 1/2 of the native 350px size for best rendering */
	width: 175px;
	height: 175px;
}

/* QR code styles for newer browsers that support viewport units */
@supports (max-height: 60vh) {
	.qr-img {
		width: 100%;
		height: auto;
		max-width: 350px;
		max-height: 60vh;
		object-fit: scale-down;
	}
}

/* Large screens */
@media screen and (min-width: 835px) {

	.container {
		padding-top: 35px;
	}

	.panel {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-right: 10px;
		width: 360px;
	}

}

/* Dark mode styles */

@media (prefers-color-scheme: dark) {

	body,
	.panel .panel-title,
	.shortcode-container a,
	.footer {
		color: #FFFFFF;
	}

	body,
	input[type="submit"]:active,
	input[type=file]::file-selector-button:active {
		background: #000000 !important;
	}

	.shortcode-container,
	input[type="submit"],
	input[type=file]::file-selector-button {
		background: #252527;
	}

	.panel {
		background: #1c1c1e;
		box-shadow: none;
	}

	.panel .panel-title {
		background: none;
		color: #6e6e73;
		border-color: #5c3f8e !important;
	}

	hr {
		border-color: #6e6e73 !important;
	}

	.footer {
		border: none !important;
	}

	.qr-img {
		filter: brightness(0.7);
	}

	input[type="submit"],
	input[type=file]::file-selector-button {
		color: #FFFFFF;
		border: 1px solid #6e6e73;
		border-radius: 4px;
	}

}